@charset "UTF-8";
body,
input,
button {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 80px 0 0 0;
    background-color: #ededed9e;
}

.noFill {
    fill: none;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;
    background: #2fbcc4;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 0 60px 0 0;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    border-radius: 5px 25px 25px 5px;
    border: 0px;
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75)
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75)
}

header input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75)
}

header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

header button svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

header button svg .fill {
    fill: #2fbcc4;
}

/* styling TODO list */

ul.todo {
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

ul.todo li {
    list-style: none;
    width: 100%;
    height: 50px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    padding: 14px 100px 14px 14px;
    box-shadow: 0px 4px 4px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    word-break: break-word;
}

ul.todo li:last-child {
    margin: 0;
}

ul.todo li .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    background: #edf0f1;
    position: absolute;
    top: 10px;
    left: 0;
}

ul.todo li .buttons button svg {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
    border-radius: 13px;
    border: 1.5px solid #2fbcc4;
    transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
    background: #2fbcc4;
    border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(37, 180, 185, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
    fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
    fill: #fff;
}

ul.todo li .buttons button svg .fill {
    transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
    fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
    fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
    fill: #2fbcc4;
}

ul.todo#completed {
    position: relative;
    box-sizing: border-box;
    padding: 60px 15px 0 15px;
}

ul.todo#completed:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -75px;
    box-sizing: border-box;
}

/* ul.todo#todo:after {
    content: 'You have nothing to-do!';
    margin: 15px 0 0 0;
} */

ul.todo#todo:empty:after {
    content: 'You have nothing to-do!';
    margin: 15px 0 0 0;
}

ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks.';
}

.content {
    display: none;
}

.preload {
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #333;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

/* DEMO-SPECIFIC STYLES */

.typewriter {
    /* left: 50%; */
    margin-left: 10px;
    top: 40%;
    position: absolute;
}

.typewriter h1 {
    font-size: 5rem;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2fbcc4;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em;
    /* Adjust as needed */
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #2fbcc4
    }
}